<h1>Hallo liebe Tester von Fudlist!</h1>
<p>
  Ihr habt das Privileg, vorab eine neue App für Rezepte und Einkaufslisten
  auszuprobieren. Für euer Feedback und eure Mühen im Voraus schonmal vielen
  Dank! Wir haben ein paar Aufgaben für euch zusammen gestellt, die ihr
  ausprobieren könnt. Mit dem <mat-icon>favorite</mat-icon> Button kommt ihr
  immer wieder zu der Aufgabenseite zurück.
</p>
<p>
  Der tolle Einkaufswagen Button <mat-icon>shopping_cart</mat-icon> führt euch
  zu euren Einkaufslisten.
</p>
<p>
  Unter dem <mat-icon>menu_book</mat-icon> landet ihr in eurem Fud Bereich, dort
  könnt ihr Zutaten, Gewürze und Rezepte erstellen.
</p>
<p>
  So, wir gehen nun Schritt für Schritt alles gemeinsam durch und erstellen ein
  wunderbares Rezept: Penne al forno!
</p>
<h2>Aufgabe 1 - Zutaten und Gewürze erstellen</h2>
<ul>
  <li>Geht auf das Rezeptbuch <mat-icon>menu_book</mat-icon>.</li>
  <li>Wählt im oberen Bereich Zutaten aus.</li>
  <li>
    Klickt auf <mat-icon>add</mat-icon> und fügt die erste Zutat hinzu. Wir
    beginnen mit der Hauptzutat: Penne. Gebt in das Feld für Bezeichnung "Penne"
    ein, wählt darunter die Einheit "Gramm" aus und speichert die Zutat ab. So
    macht ihr das jetzt weiter für folgende Zutaten: Tomatensauce (Milliliter),
    Zwiebel (Stück), Knoblauch (Stück --> ACHTUNG: Zehe wird noch kommen, kei
    Sorg!), Olivenöl (Milliliter), Tomatenmark (Gramm), Parmesan (Gramm),
    Mozarella (Gramm), Sahne (Milliliter).
  </li>
  <li>Geht erneut auf das Rezeptbuch <mat-icon>menu_book</mat-icon>.</li>
  <li>Wählt im oberen Bereich Gewürze aus.</li>
  <li>
    Klickt auf <mat-icon>add</mat-icon> und fügt das erste Gewürz hinzu. Wir
    beginnen mit Salz! Gebt in das Feld für die Bezeichnung "Salz" ein, wählt
    darunter die Einheit "Prise" aus und speichert das Gewürz ab. So macht ihr
    das jetzt nochmal für folgendes Gewürz: Chili (Prise).
  </li>
</ul>
<p>
  Wunderbar! Ihr habt erfolgreich die grundlegenden Bestandteile unseres ersten
  Rezeptes erstellt. Keine Sorge, es wird zum offiziellen Start von Fudlist
  viele Zutaten und Gewürze geben. Dann fällt der lästige Schritt, Zutaten und
  Gewürze erstellen zu müssen weg. Momentan müsst ihr allerdings noch fleißig
  sein.
</p>
<h2>Aufgabe 2 - Ein Rezept erstellen</h2>
<ul>
  <li>Geht auf das Rezeptbuch <mat-icon>menu_book</mat-icon>.</li>
  <li>
    Klickt auf <mat-icon>add</mat-icon> und gebt dem Rezept den Namen "Penne al
    forno". Optional könnt ihr dem Rezept auch eine Anzahl an Portionen
    mitgeben, wir sagen mal 2 Personen.
  </li>
  <li>
    Klickt auf <mat-icon>add</mat-icon> und fügt eurem Rezept unsere zuvor
    erstellten Zutaten hinzu. Hierzu wählt ihr die richtige Zutat aus, z. B.
    Penne. Gebt dann die passende Menge ein: 300. Die Einheit passt womöglich
    schon, guckt einfach bloß mal drüber. Dann wird gespeichert. Fügt so alle
    notwendigen Zutaten (haben wir in Aufgabe 1 erstellt, falls vergessen!) für
    euer Rezept hinzu.
  </li>
  <li>
    Unser Rezept enthält zu viele fettreiche Zutaten: Parmesan, Mozarella und
    Sahne! Klickt auf eine der drei Zutaten und löscht sie.
  </li>
  <li>
    So, jetzt geht's weiter zu der Zubereitung. Klickt hierfür auf "Schritte".
  </li>
  <li>
    Klickt auf <mat-icon>add</mat-icon> und fügt den ersten Schritt hinzu. Dafür
    gebt ihr in das Feld für die Anweisung folgendes ein: "Die Zwiebel fein
    würfeln und mit Olivenöl in einen kleinen Topf geben." Später können an
    dieser Stelle die verwendeten Zutaten angehakt werden, noch geht das nicht!
  </li>
  <li>
    Damit es nicht allzu aufwendig wird für euch, geben wir noch drei weitere
    Schritte ein. Als nächstes kommt: "Die Knoblauchzehe schälen, zusammen mit
    der Tomatensauce in einen Becher geben und mit einem Stabmixer mixen.".
    Dann: "Die Knoblauch-Tomatensauce zu der Zwiebel in den Topf geben." Dann:
    "Tomatenmark hinzugeben und mit Salz würzen. Die Tomatensauce erst einmal
    köcheln lassen." Und zum Schluss: "Den Ofen vorheizen auf 200°C."
  </li>
  <li>
    Jetzt haben wir schon mal 5 Schritte. Aber halt! Es wäre sinnvoller, wenn
    der Ofen als allererstes vorgeheizt wird. Haltet den Schritt gedrückt und
    zieht ihn an die oberste Stelle, um ihn so zu verschieben.
  </li>
  <li>
    Super! Als letztes klickt ihr auf <mat-icon>done</mat-icon>, um das Rezept
    zu speichern.
  </li>
</ul>
<p>
  Schön, jetzt habt ihr bereits Zutaten, Geürze und ein Rezept erstellt! Als
  nächstes kommt die Aufgabe, eine Einkaufsliste zu erstellen.
</p>
<h2>Aufgabe 3 - eine Einkaufsliste erstellen</h2>
<ul>
  <li>Klickt auf den Einkaufswagen <mat-icon>shopping_cart</mat-icon>.</li>
  <li>
    Klickt auf <mat-icon>add</mat-icon>, um eine Einkaufsliste zu erstellen.
    Hier könnt ihr der Liste einen Namen geben, z. B. Kaufland. Dann klickt ihr
    auf "Los geht's".
  </li>
  <li>
    Wenn ihr jetzt auf Kaufland klickt, könnt ihr Produkte zu der Einkaufsliste
    hinzufügen. Probiert es aus! Gebt ein: "Nutella" und klickt dann auf das
    <mat-icon>add</mat-icon> daneben.
  </li>
</ul>
<p>
  Wie ihr seht, gibt es auch eine Liste "Lidl". Als nächstes wollen wir unsere
  Zutaten aus dem Rezept "Penne al forno" auf die Einkaufsliste Lidl schreiben,
  denn: Lidl lohnt sich! :D
</p>
<h2>Aufgabe 4 - Zutaten aus Rezept auf eine Einkaufsliste schreiben</h2>
<ul>
  <li>Klickt zunächst auf das Rezeptbuch <mat-icon>menu_book</mat-icon>.</li>
  <li>
    Wählt euer Rezept "Penne al forno" aus und scrollt nach unten. Dort steht
    "zur fudlist hinzufügen" - klickt drauf!
  </li>
  <li>
    Jetzt dürft ihr auswählen, auf welche Liste die Zutaten geschrieben werden
    sollen. Bei Gewürzen klappt das momentan noch nicht. Wählt also als Liste
    Lidl aus. Ihr seht, ihr könnt später anhaken, welche Zutaten aus dem Rezept
    auf die Einkaufsliste geschrieben werden sollen, kann ja gut sein, dass man
    nicht alles braucht und schon einiges zu Hause hat. Für's erste lassen wir
    die Häkchen so wie sie sind und klicken "Speichern".
  </li>
</ul>
<p>
  Sehr gut! Ihr habt es fast geschafft, die nächste Aufgabe wäre sozusagen der
  Moment des Einkaufens.
</p>
<h2>Aufgabe 5 - Zutaten auf der Einkaufsliste abhaken</h2>
<ul>
  <li>Klickt auf den Einkaufswagen <mat-icon>shopping_cart</mat-icon>.</li>
  <li>Wählt die richtige Liste aus, nämlich Lidl!</li>
  <li>
    Ihr merkt, dass ihr alle Zutaten von Penne al forno auf der Einkaufsliste
    habt, ihr dieses Mal aber die doppelte Menge kochen wollt. Schnell wieder
    auf das Rezeptbuch <mat-icon>menu_book</mat-icon>, dann auf "Penne al forno"
    und nochmal auf "zur fudlist hinzufügen" klicken. Dann wieder den Lidl
    auswählen und speichern.
  </li>
  <li>
    Jetzt klickt ihr wieder auf den Einkaufswagen
    <mat-icon>shopping_cart</mat-icon> und dann auf Lidl, um zu überprüfen, ob
    die Mengen jetzt richtig sind, sich also verdoppelt haben.
  </li>
  <li>
    Hakt alle Zutaten an, um so zu tun, als hättet ihr diese nun eingekauft.
    Falls ihr nur aus Versehen drauf geklickt habt, könnt ihr den Haken durch
    ein erneutes Draufklicken wieder entfernen. Die Zutat steht wieder unter den
    noch einzukaufenden Zutaten.
  </li>
  <li>
    Habt ihr alle Zutaten abgehakt? Dann klickt auf "Fertig mit shoppen". Die
    Liste ist wieder schön leer und kann neu befüllt werden.
  </li>
</ul>
